name: Test Action

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  screenshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      
      - name: Test Action
        uses: JonathanTreffler/screenshot-action@main
        with:
          url: https://google.com
          destination: ./screenshot.png
